<ion-header>
    <ion-toolbar>
        <ion-title>
            OpenTok Ionic Sample App
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div id="publisher" style="position: relative; z-index: 1;"></div>
    <div id="subscriber" style="position: relative; z-index: 2;"></div>
    <ion-button class="btn-start-call" color="success" (click)="startCall()" [disabled]="isCalling">
        Start Call
    </ion-button>
    <ion-button class="btn-end-call" color="danger" (click)="endCall()" [disabled]="!isCalling">
        End Call
    </ion-button>
    <ion-button shape="round" color="light" class="btn-audio" (click)="toggleAudio()"></ion-button>
    <ion-button shape="round" color="light" class="btn-video" (click)="toggleVideo()"></ion-button>
</ion-content>

