
.btn-start-call {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.btn-end-call {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.btn-video {
  position: absolute;
  bottom: 50vh;
  left: 0;
  z-index: 1000;
  &.ui-icon-videocam {
    background: url(../../assets/icon/videocam.svg) center center no-repeat;
    background-size: 60% auto;
    .fa {
      color: #414141;
    }
  }
  &.ui-icon-videocam-off {
    background: url(../../assets/icon/video-off.svg) center center no-repeat;
    background-size: 60% auto;
  }
}

.btn-audio {
  position: absolute;
  bottom: 40vh;
  left: 0;
  z-index: 1000;
   .ui-icon-mic {
    background: url(../../assets/icon/mic.svg) center center no-repeat;
    background-size: 60% auto;
   }
   .ui-icon-mic-off {
    background: url(../../assets/icon/mic-off.svg) center center no-repeat;
    background-size: 60% auto;
   }
}



