
.btn-start-call {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 50vw;
  height: 5vh;
  border-radius: 4px;
  font-size: 1.6rem;
  color: #fff;
  background-color: #387ef5;
}

.btn-end-call {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 50vw;
  height: 5vh;
  border-radius: 4px;
  font-size: 1.6rem;
  color: #fff;
  background-color: #f53d3d;
}

